*{
    font-family: 'Be Vietnam Pro', sans-serif;
    box-sizing: border-box;
}

/*Menú de navegación*/
nav{
    margin: 4% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.nav-list{
    display: flex;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-around;
    width: 50%; 
}

.nav-list__link{
    color: #242E52;
    padding: 4%;
    font-size: 13px;
    font-weight: 500;
}

.nav-list__link:hover{
    opacity: 60%;
    transition: all 0.3s ease-in-out;
}

.main-button{
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 13px;
}

.shadow-button{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
}
/*Menú de navegación*/

/*Contenedor principal*/
.main-container{
    display: flex;
    margin: 0 8%;
    gap: 5rem;
    align-items: center;
}

.main-container__text--title{
    font-weight: 700;
    font-size: 50px;
    text-align: right;
    color: #232C50;
    margin-bottom: 2rem;
}

.main-container__text{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.main-container__text--desc{
    font-weight: 500;
    text-align: right;
    line-height: 26px;
    margin: 40px 0 60px;
}
/*Contenedor principal*/

/*Contenedor interno 1*/
.int-container{
    background-color: #8B48BF;
    color: #FFFFFF;
    display: flex;
    margin-top: 60px;
    padding: 8% 12%;
    align-items: center;
    gap: 5rem;
}

.int-container__title{
    font-size: 30px;
    font-weight: 700;
}

.int-container__text{
    width: 70%;
    line-height: 24px;
}
/*Contenedor interno 1*/

/*Contenedor de listado*/
.list-container{
    background-color: #FAFAFA;
    padding: 5% 10%;
}

.list-container__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list-container__item{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.list-button{
    font-weight: 700;
}

.list-container__item--content{
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.list-container__item--title{
    color: #323851;
    font-weight: 700;    
}

.list-container__item--text{
    color: #B3B2B7;
    line-height: 24px;
    padding:  30px 20px 30px 118px;
}
/*Contenedor de listado*/

/*Contenedor de tier list*/
.tier-container{
    padding: 5% 10%;
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tier-container__title{
    font-weight: 700;
    font-size: 39px;
    text-align: center;
    color: #242E53;
    margin-bottom: 100px;
}

.tier-container__list{
    display: flex;
}

.tier-container__list--card{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    position: relative;
}

.tier-container__list--img{
    width: 80px;
    position: absolute;
    top: -20%;
    right: 40%
}

.tier-container__list--title{
    font-weight: 700;
    text-align: center;
    color: #3F4868;
    margin: 30px 0;
}

.tier-container__list--text{
    color: #B9B9C1;
    line-height: 25px;
}

.tier-button{
    margin-top: 50px;
}

.tier-button:hover{
    opacity: 60%;
    transition: all 0.3s ease-in-out;
}
/*Contenedor de tier list*/

/*Contenedor interno 2*/
.second-int__title{
    width: 70%;
    padding: 0 6%;
}
.int-button{
    color:#8B48BF;
    background-color: #FFFFFF;
}
/*Contenedor interno 2*/

/*footer*/
footer{
    background-color: #1E1E26;
    font-family: 'Be Vietnam Pro', sans-serif;
    color:#FFFFFF;
    padding: 5% 7%;
    display: flex;
    position: relative;
    justify-content: space-between;
}


.footer-logos__list{
    display: flex;
    gap: 1em;
    margin-top: 100px;
}

.footer-nav{
    display: flex;
    padding: 0 15px;
}

.footer-nav__list{
    margin-right: 60px;
}

.footer-nav__list--link{
    padding: 10px;
}

.footer-copyright{
    color: #8C8C94;
    position: absolute;
    top: 70%;
    left: 65%;

}

.footer-searchbar__bar{
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
}

.footer-searchbar__bar::placeholder{
    color: #A0A0A0;
}

@media (max-width: 600px){

    /*Menú de navegación*/
    .nav-list{
        display: none;
    }
    nav{
        margin: 50px;
    }
    nav button{
        display: none;
    }
    /*Menú de navegación*/

    /*Contenedor principal*/
    .main-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap:0;
    }

    .main-container__img{
        margin: 20px 0 60px 0;
        width: 100%;
    }

    .main-container__text--desc{
        margin: 15px 0 30px 0;
    }
    /*Contenedor principal*/

    /*Contenedor interno 1*/
    .int-container{
        background-color: #3CDDF3;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        gap: 3rem;
    }

    .int-container__title{
        text-align: start;
    }

    .int-container__text{
        margin: 0;
        text-align: start;
        width: auto;
    }
    /*Contenedor interno 1*/


    /*Contenedor de listado*/
    .list-button{
        height: 50px;
    }

    .list-container{
        padding: 14% 0 12% 10%;
        background-color: #FFFFFF;
    }

    .list-container__item{
        margin-right:0;
        padding: 0;
        flex-direction: column;
        width: auto;
    }
    
    .list-container__item--content{
        margin: 0;
        background-color: rgb(139, 72, 191, 0.3);
        border-radius: 25px 0 0 25px;
        padding-right: 1.5rem;
    }

    .list-container__item--text{
        padding: 40px 30px 40px 0px;
    }
    /*Contenedor de listado*/

    /*Contenedor de tier list*/
    .tier-container{
        margin:0;
        padding: 30px;
    }

    .tier-container__list--card:nth-child(2n-1){
        display: none;
    }
    
    .tier-button{
        width: 30%;
    }
    /*Contenedor de tier list*/

    /*Contenedor interno 2*/
    .second-int{
        padding: 40px 40px;
    }

    .second-int__title{
        line-height: 48px;
        text-align: center;
        font-size: 40px;
        width: auto;
        padding: 0;
    }

    .int-button{
        background-color: #232C50;
        color: #FFFFFF;
        width: 50%;
    }
    /*Contenedor interno 2*/
    
    /*footer*/
    footer{
        flex-direction: column;
        align-items: center;
    }

    .footer-logos{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    /*footer*/
}